{
  "MODE": "production",
  "VITE_SKIP_SHAREPOINT": "0",
  "VITE_SKIP_LOGIN": "0",
  "VITE_DEMO_MODE": "0",
  "VITE_DATA_PROVIDER": "sharepoint",
  "VITE_FORCE_SHAREPOINT": "1",
  "VITE_SKIP_PROVISIONING": "1",
  "VITE_DEV_HARNESS": "0",
  "VITE_FEATURE_SCHEDULES_SP": "1",
  "VITE_ALLOW_SHAREPOINT_OUTSIDE_SPFX": "1"
}
