name: actionlint
on:
  pull_request:
    paths:
      - .github/workflows/**
  push:
    branches:
      - main
      - develop
    paths:
      - .github/workflows/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-actionlint@v1
        with:
          reporter: github-pr-review
          filter_mode: nofilter
          actionlint_flags: -shellcheck=